* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  max-width: 1280px;
  background-color: #fff;
}

section, h1 {
  margin-left: 15px;
  position: relative;
}

#donut {
  position: absolute;
  top: 20px;
  right: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #395e68;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navItem {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #c5dae0;
}

.img-container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 400px;
  background-image: url("./images/donutFull.jpg");
  background-size: cover;
}

h3 {
  text-align: center;
}

h4 {
  margin-right: 20px;
  margin-left: 20px;
}

p {
  margin-right: 315px;
  margin-left: 20px;
}

fieldset {
  max-width: 1200px;
  border-radius: 5px;
  margin: auto;
}

input {
  margin-left: 2px;
  margin-right: 15px;
}

input[type = number]{
    width: 40px;
}

.formBtn {
  border-radius: 5px;
  margin-left: 10px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background-color: #395e68;
}

table {
  border-collapse: collapse;
  margin: auto;
  max-width: 1280px;
}

canvas {
  width: 1250px;
  height: 400px;
}

#dsLegend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

#dsLegend li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

th {
  padding: 5px 10px;
  border: 1px solid black;
  background-color: #395e68;
  color: white;
}

td {
  padding: 5px 10px;
  border: 1px solid black;
}

tr:nth-child(odd) {
  background: #c5dae0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 100px;
  background-color: #05313d;
  color: white;
}

@media only screen and (min-width: 1285px) {
  body {
    background-color: #5F9EA0;
  }
}

@media only screen and (max-width: 1035px) {
    label, input {
    display: block;
  }

  }

@media only screen and (max-width: 950px) {
  #donut {
      display: none;
  }

  p {
    margin-right: 20px;
  }

  #dsLegend li {
  display: block;
  }

  footer {
    flex-direction: column;
    padding-left: 50px;
  }

}

@media only screen and (max-width: 570px) {
  nav {
    height: 80px;
  }

  .img-container {
  width: 100%;
  height: 250px;
  }

  .navItem {
    display: block;
  }

  .wrapper {
    margin-top: 80px;
  }

}
